---
import Layout from "../layouts/Layout.astro";

console.log("Blog page loaded");
---

<Layout>
  <h1>Página del blog</h1>
  <section class="articles">
    <article class="article">
      <h2>Titulo de mi articulo</h2>
      <p>
        Descripcion del articulo
        <a href="#">Leer más</a>
      </p>
    </article>
  </section>
</Layout>
