---
import Articles from "../components/Articles.astro";
import Layout from "../layouts/Layout.astro";

console.log("Blog page loaded");
---

<Layout>
  <h1>Página del blog</h1>
  <section class="articles">
    <Articles/>
  </section>
</Layout>
