# Dependencias
# Instala las dependencias de TypeScript con "npm i typescript --save-dev"
node_modules/
fonts/

# Archivos de build
build/

# Archivos de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Configuración del sistema/IDE
.DS_Store
*.env
