<h1>Componentes en Angular</h1>

<h2>{{nombreDelProducto}}</h2>
<p>{{descripcion}}</p>
<p>Marca: {{marca}}</p>
<strong>{{precio}}$</strong>

<br>
<br>

<button (click)="cambiarNombre()">Cambiar Nombre del Producto</button>

<br>
<br>

@if (mostrarPeliculas == true) {
    
    <button (click)="OcultarPeliculas(false)">Ocultar Componente de Pelicula</button>

} @else {

    <button (click)="OcultarPeliculas(true)">Mostrar Componente de Pelicula</button>

}


@if (mostrarPeliculas == true) {
    <app-pelicula></app-pelicula>
}