<h1>Plantillas/templates en Angular</h1>

<p>{{web}}</p>

<a [href]="web" [class.existe]="redirigir" target="_blank"> Ir a mi Web</a>

<h2>Estructuras de control de flujo</h2>

@if (redirigir) {

    <p>El enlace a {{web}} es correcto</p>

} @else {

    <p>El enlace no va a funcionar</p>

}

<button (click)="cambioRedireccion()">Modificar Enlace</button>

<h3>Marcas de Padel Array</h3>
<ul>
    @for (marca of marcasPaddel; track $index) {
        <li>{{marca}}</li>
    }
</ul>

<h3>Marcas de Padel Objeto</h3>
<ul>
    @for (marca of marcasPaddelObjeto; track marca.id; let indice = $index, contador = $count, par = $even, impar = $odd) {
        <li>{{marca.nombre}} {{indice}} {{par}} {{impar}}</li>
    } @empty {
        <li>El listado esta completamente vacio !</li>
    }
</ul>