<h1>Plantillas/templates en Angular</h1>

<p>{{web}}</p>

<a [href]="web" [class.existe]="redirigir" target="_blank"> Ir a mi Web</a>

<h2>Estructuras de control de flujo</h2>

@if (redirigir) {

    <p>El enlace a {{web}} es correcto</p>

} @else {

    <p>El enlace no va a funcionar</p>

}

<button (click)="cambioRedireccion()">Modificar Enlace</button>

<h3>Marcas de Padel Array</h3>
<ul>
    @for (marca of marcasPaddel; track $index) {
        <li>{{marca}}</li>
    }
</ul>

<h3>Marcas de Padel Objeto</h3>
<ul>
    @for (marca of marcasPaddelObjeto; track marca.id; let indice = $index, contador = $count, par = $even, impar = $odd) {
        <li>{{marca.nombre}} {{indice}} {{par}} {{impar}}</li>
    } @empty {
        <li>El listado esta completamente vacio !</li>
    }
</ul>

<!-- @if (usuario.rol == "admin") {
    <app-ventas></app-ventas>
} -->

@switch (usuario.rol) {

    @case ("admin"){

        <h2>Rol: {{usuario.rol}}</h2>
        <p>Eres un admin</p>
        <app-ventas></app-ventas>

    }

    @case ("user") {

        <h2>Rol: {{usuario.rol}}</h2>
        <p>Eres un usuario normal</p>

    }

    @default{

        <h2>Rol: Invitado</h2>
        <p>Eres un usuario invitadp</p>

    }
}

<h3>Mas cosas de las plantillas</h3>

<!-- Container de Angular -->

<ng-container>

    <h4>Esto esta hecho en un contenedor de Angular</h4>

</ng-container>

<!-- Creacion de Variables en la plantilla de HTML -->

@let pais = "Argentina";
@let saludo = "Saludos desde " + pais;
{{saludo}}

<!-- Carga diferida en la plantilla de HTML -->

<!-- @defer{
    <miProducto></miProducto>
} @placeholder {
    <p>Se esta cargando el componente de producto!</p>
} -->

<h2>Tuberias en Angular</h2>

<!-- Pipe para hacer el texto en mayuscula -->
{{web | uppercase}}

<br>

<!-- Pipe para hacer el texto en mayuscula -->
{{web | lowercase}}

<br>
<br>

<!-- Pipe De Fecha -->
{{fecha}}
<br>
{{fecha | date}}
<br>
{{fecha | date: "fullDate"}}
<br>
{{fecha | date: "dd/MM/yyyy"}}
<br>