---
import { getCollection } from "astro:content";

const articles = await getCollection("articles");
---

<article class="article">
  <h2>Titulo de mi articulo</h2>
  <p>
    Descripcion del articulo
    <a href="#">Leer m치s</a>
  </p>
</article>

<article class="article">
  <h2>Titulo de mi articulo</h2>
  <p>
    Descripcion del articulo
    <a href="#">Leer m치s</a>
  </p>
</article>

<article class="article">
  <h2>Titulo de mi articulo</h2>
  <p>
    Descripcion del articulo
    <a href="#">Leer m치s</a>
  </p>
</article>

<article class="article">
  <h2>Titulo de mi articulo</h2>
  <p>
    Descripcion del articulo
    <a href="#">Leer m치s</a>
  </p>
</article>
