---
import { getCollection } from "astro:content";

const articles = await getCollection("articles");
---

{articles.map((article) => (
    <article class="article">
        <h2>{article.data.title}</h2>
        <p>
            {article.data.category}
            <br/>
            <a href="#">Leer más</a>
        </p>
    </article>
))}
