<hr>

<h1>Soy el componente Padre</h1>
<h2>Soy el componente que tiene otro componente que este es mi Hijo</h2>

<p>Te presento a mi hijo:</p>

{{saludoRecibido}}

<app-hijo 
    [elNombreDeMiPapa] = "nombreDelPadre"
    (saludoDelHijo)="recibirSaludo($event)">
</app-hijo>

<!-- Atributos Estaticos -->
<!-- Son todos los atributos que son del HTML normal -->

<!-- Atributos con Binding -->
<!-- Son los atributos que estan definidos con el [], como [ngStyle] -->

<!-- Atributos para Eventos -->
<!-- Son los atributos los cuales sirven para definir eventos como puede ser el (click) -->

<!-- Atributos Combinados -->
<!-- Son los atributos los cuales se definen con [()] como puede ser el [(ngModel)] -->

<!-- Atributos para Directivas -->
<!-- Son Atributos que sirven para utilizar directivas, no se utilizan tanto porque ya se han creado formas mas faciles de utilizar las directivas, pero existen ejemplos como el *ngIf, *ngFor -->
