/// Anidacion
// Podes colocar diferentes etiquetas dentro que haran que se hagan automaticamente los codigos como en este caso el ".caja h2{}" y ".caja p{}"

.caja{

    h2{

        color: black;
        font-family: Arial, Helvetica, sans-serif;

    }

    p{

        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-decoration: underline;

    }
}