// Archivo donde debemos compilar los estilos para poder exportar el archivo, esto se hace mediante el comando sass --watch (Archivo de entrada/style.scss) (Nombre del archivo que quieras crear/style.css)


/// @use
// Se utiliza para poder importar los estilos de otros archivos como en este caos el de anidacion.
@use "anidacion";


/// Variables
// Se pueden crear variables en scss para poder tener una mayor organizacion en caso de por ejemplo colores especificos de una marca, colores de letra, tipografias, entre otros.

$color-fondo: #eee1c6ff;
$color-letra: rgb(28, 66, 13);

body{
    
    background: $color-fondo;
    
}

h1{

    color: $color-letra;

}

p{

    color: $color-letra;

}

/// Mixins
// Sirve para hacer una funcion donde uno guarda los valores que tiene por defecto, por ende si nosotros despues se lo pasamos a uno de los estilos podemos usar una configuracion general y asi poder tener un codigo limpio

@mixin caja_personalizada($fondo: white){

    background-color: $fondo;
    border: 4px solid black;
    box-shadow: 0px 0px 2px black;
    color: $color-letra;
    margin: 20px;
}

.caja{

    @include caja_personalizada($fondo: yellow);

}

.cajaSecundaria{

    @include caja_personalizada($fondo: blue);

}


