<h2>Formularios en Angular</h2>
<p>Como trabajar con los Formularios mas simples en Angular</p>

<form (ngSubmit)="onSubmit()" #form="ngForm">

    <p>
        <label for="nombre">Nombre:</label><br>
        <input type="text" name="nombre" id="nombre" [(ngModel)] = "nombre" required minlength="3" max="40"/>
    </p>
    
    <p>
        <label for="email">Email:</label><br>
        <input type="text" name="email" id="email" [(ngModel)] = "email" required email />
    </p>

    <p>
        <label for="edad">Edad:</label><br>
        <input type="number" name="edad" id="edad" [(ngModel)] = "edad" required min="18" max="100"/>
    </p>    

    <p>
        <label for="password">Contraseña:</label><br>
        <input type="password" name="password" id="password" [(ngModel)] = "password" required minlength="7"/>
    </p>    

    <button type="submit" [disabled]="!form.valid">Enviar</button>
</form>

<hr>

<p>Nombre: {{nombre}}</p>
<p>Email: {{email}}</p>
<p>Edad: {{edad}}</p>
