<h1>Carrito de compras</h1>

<div>
    
    <p>Cambiar Nombre de la Tienda : <input type="text" [(ngModel)] = "nombreTienda"/></p>


    <h3>{{nombreTienda}}</h3>
    <p>Productos en el carrito: {{cantidadProductos}}</p>
    <p>Total del carrito: {{totalCarrito}} $</p>

    <button (click)="addProducto()">Añadir Producto</button>
    <button (click)="addCincoProducto()">Añadir 5 Producto</button>
    <button>Aplicar cupon de 20%</button>
    <button (click)="deleteProducto()">Eliminar un producto</button>
    <button (click)="vaciarCarrito()">Vaciar Carrito</button>

</div>

@if (notificacion) {
    <div class="notificacion"> 
        <p>{{notificacion}}</p>
    </div>
}

